body {
  height: 100vh;
  margin: 0;
}
.link {
  color: var(--color-text-tertiary);
  text-decoration: none;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  width: 100%;
  box-sizing: border-box;
  background: var(--bg-light-gradient);
  /* max-height: fit-content; */
}

.about-content {
  padding-block: 4rem;
  display: flex;
  justify-content: center;
  background: var(--bg-test);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: red;
  margin: 0 auto;
}
.img-sofia {
  justify-self: center;
  width: 75%;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
}

.test {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-top: var(--margin-lg);
  margin-bottom: var(--margin-xlg);
}

.iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.video {
  margin-top: 20px;
}

li {
  list-style: none;
}

.bold-list {
  font-weight: bold;
}

h1 {
  margin-bottom: var(--margin-base);
}

.shouldaisign-text {
  text-align: left;
  margin-bottom: 3rem;
  font-family: var(--system-font);
  font-size: var(--font-size-medium);
  line-height: 1.4;
  color: #333;
  padding: var(--card-padding);
  transition: background 0.3s ease, transform 0.3s ease;
}

.separator {
  width: 90%;
  height: 0.2rem;
  background: var(--bg-fourth);
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.me-text {
  text-align: left;
  margin-bottom: var(--margin-base);
  font-family: var(--system-font);
  font-size: var(--font-size-medium);
  line-height: 1.4;
  color: var(--color-text-primary);
  color: black;
  padding: var(--card-padding);
  background: var(--bg-test);
  border-left: 6px solid var(--color-text-third);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.me-text:hover,
.shouldaisign-text:hover {
  transform: scale(1.02);
}

/* Modal Styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  padding: 4rem 1rem;
}

.modalContent {
  object-fit: contain;
  background: white;
  padding: 0.5rem;
  border-radius: 10px;
  position: relative;
  height: 90%;
  width: min(100%, 1000px);
}

.modal-image {
  border-radius: 8px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.modal-video {
  width: 80vw;
  height: 45vw;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.info-card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 1rem auto;
  margin-bottom: var(--margin-lg);
  padding: 1rem;
  border-radius: 10px;
  transition: 0.3s;
  gap: 0.6rem;
}
/* .features {
  padding-top: 1rem;
  font-weight: bold;
} */

.features-title {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.features-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 1.1rem;
  color: var(--color-text-secondary);
}

.feature-item {
  margin-bottom: 0.8rem;
  line-height: 1.2;
  padding-left: 1.5rem;
  position: relative;
}

.feature-item::before {
  content: '•';
  color: var(--color-text-tertiary);
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  line-height: 1;
}

.link-button {
  min-width: 7rem;
  background: var(--bg-fourth);
  color: var(--color-text-primary);
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: var(--btn-border-radius);
  border: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.link-button:hover {
  transform: scale(1.1);
  color: var(--color-text-secondary);
}

@media (max-width: 1400px) {
  .about-container {
    max-width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    max-height: fit-content;
  }

  .me-text {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .info-card {
    max-width: 40%;
    padding: 0.5rem;
  }
  .img-sofia {
    width: 50%;
  }
}

@media (min-width: 1268px) {
  .about-container {
    max-width: 100%;
    margin: 0 auto;
  }
  .list {
    display: flex;
    gap: 1rem;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: row;
  }

  .about-container p {
    width: 50%;
  }

  .shouldaisign-text p {
    width: 90%;
  }

  .me-text {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .info-card {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    padding: 0.5rem;
  }
}
