body {
  height: 100vh;
  margin: 0;
}
.link {
  color: var(--color-text-tertiary);
  text-decoration: none;
} 

.about-container {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 60%;
  padding: 1rem;
  box-sizing: border-box;
  /* max-height: fit-content; */
}

.about-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

/* .text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 1rem;
} */

/* .modal-pdfViewer {
  width: 90vw; 
  margin-top: 3rem;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: turquoise;
} */

.test {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: var(--margin-xlg);
}

.iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.video {
  margin-top: 20px;
}

h1 {
  margin-bottom: var(--margin-base);
}

.shouldaisign-text {
  text-align: left;
  margin-bottom: 3rem;
  /* font-family: 'Arial', sans-serif; */
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: var(--system-font);
  font-size: var(--font-size-medium);
  line-height: 1.4;
  color: #333;
  padding: var(--card-padding);
  /* background: var(--bg-seventh); */
  background: var(--bg-test);
  border-left: 4px solid var(--bg-fifth);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* border-radius: 5px; */
  transition: background 0.3s ease, transform 0.3s ease;
  
}

.separator {
  width: 90%;
  height: 0.2rem;
  background: var(--bg-fourth);
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.me-text {
  text-align: left;
  margin-bottom: var(--margin-base);
  /* font-family: 'Arial', sans-serif; */
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: var(--system-font);
  font-size: var(--font-size-medium);
  line-height: 1.4;
  color: var(--color-text-primary);
  color: black;
  padding: var(--card-padding);

  /* background: var(--bg-fourth); */
  /* background: var(--bg-fifth); */
  /* background: var(--bg-seventh); */
  background: var(--bg-test);
  border-left: 6px solid var(--color-text-third);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* border-radius: 5px; */
  transition: background 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.me-text:hover,
.shouldaisign-text:hover {
  /* background: #f0f8ff; */
  transform: scale(1.02);
}

/* Modal Styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  /* height: 100vh; */
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  padding: 4rem 1rem;
  /* margin: 6rem; */
  /* background: magenta; */
}

.modalContent {
  object-fit: contain;
  background: white;
  padding: 0.5rem;
  border-radius: 10px;
  position: relative;
  /* max-height: 60%; */
  /* max-width: fit-content; */

  /* max-width: 100%;
  min-width: 50%; */
  /* min-height: 50%; */
  /* height: fit-content; */
  height: 90%;
  width: min(100%, 1000px);
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* overflow: hidden; */
  /* background: red; */
}

.modal-image {
  border-radius: 8px;
  object-fit: contain;
  /* width:  auto; */
  width: 100%;
  height: 100%;

  /* background: var(--bg-secondary); */
  /* height: auto; */
  /* height: 55%; */
}

.modal-video {
  width: 80vw;
  height: 45vw;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.info-card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 1rem auto;
  margin-bottom: var(--margin-lg);
  padding: 1rem;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
  /* background: #a9dd9f; */
  gap: 0.6rem;
}

.link-button {
  background: var(--btn-color-primary);
  color: var(--color-text-primary);
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: var(--btn-border-radius);
  border: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.link-button:hover {
  transform: scale(1.1);
  color: var(--color-text-secondary);
}

@media (max-width: 1400px) {
  .about-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
    overflow-y: auto;
    max-height: fit-content;
  }

  .about-content {
    flex-direction: column;
  }

  .me-text {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .info-card {
    max-width: 40%;
    padding: 0.5rem;
  }
}

@media (min-width: 768px) {
  .about-container {
    max-width: 100%;
    margin: 0 auto;
    /* padding: 0.5rem; */
    /* padding-top: 5%; */
    /* max-height: 65vh; */
  }

  /* .modal-pdfViewer {
    width: 90vw;
    height: 130vw;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
  } */

  .me-text {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .info-card {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    padding: 0.5rem;
  }
}
