:root {
  /* Background -------------------- */
  /* --bg-primary: #bd9e84;
  --bg-secondary: #c5dfdf;
  --bg-tertiary: #e68815;
  --bg-fourth: #a71666;
  --bg-fifth: #d37416;
  --sixth-bg: ; */

  /* --bg-primary: #2a9d8f;
  --bg-secondary: #264653;
  --bg-tertiary: #e9c46a;
  --bg-fourth: #f4a261;
  --bg-fifth: #e76f51; */

  --bg-primary: linear-gradient(135deg, #88d4c0, #70bba5);
  --bg-secondary: linear-gradient(135deg, #264653, #1b343f);
  --bg-tertiary: linear-gradient(135deg, #e9c46a, #d3a850);
  --bg-fourth: linear-gradient(135deg, #f4a261, #d9824a);
  --bg-fifth: linear-gradient(135deg, #e76f51, #b97060);
  /* --bg-sixth: linear-gradient(135deg, #F5F5F5, #E8E8E8);  */
  --bg-sixth: linear-gradient white;
  --bg-seventh: linear-gradient(135deg, #2a9d8f, #21867a);
  --bg-eight: linear-gradient(135deg, #88d4c0, #91d5c1);
  --bg-test: linear-gradient(135deg, #88d4c0, #9bc7ba);
  --bg-light-gradient: linear-gradient(135deg, #bdece2, #a8d9cf);

  /* Text -------------------- */
  --color-text-primary: rgb(255, 255, 255);
  --color-text-secondary: rgb(0, 0, 0);
  --color-text-tertiary: #d37416;

  --system-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-primary: 'Roboto', sans-serif;
  --font-family-secondary: 'Open Sans', sans-serif;

  --font-size-base: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-heading: 2rem;
  --font-size-heading-lg: 3rem;
  --font-size-small: 0.8rem;

  /* Border -------------------- */
  --border-color: rgb(171, 149, 121);

  --border-radius-sm: 0.5rem;
  --border-radius-md: 1rem;
  --border-radius-lg: 2rem;

  /* Padding -------------------- */
  --padding-base: 1rem;
  --padding-sm: 0.5rem;
  --padding-lg: 2rem;

  /* Margin -------------------- */
  --margin-base: 1rem;
  --margin-lg: 2rem;
  --margin-xlg: 3rem;

  /* Button -------------------- */
  --btn-bg-primary: rgb(171, 149, 121);
  --btn-bg-secondary: rgb(18, 25, 40);
  --btn-bg-third: rgb(238, 233, 226);

  --btn-color-primary: linear-gradient(135deg, #e76f51, #b97060);
  --btn-color-secondary: #af3076;
  --btn-color-tertiary: rgb(171, 149, 121);

  --btn-border-radius: 0.5rem;

  --btn-padding: 0.5rem 1rem;
  --btn-padding-lg: 1rem 2rem;

  --btn-margin: 0.5rem;
  --btn-margin-lg: 1rem;

  --btn-font-size: 1rem;
  --btn-font-size-lg: 1.5rem;

  --btn-border: 1px solid rgb(171, 149, 121);

  --btn-hover-bg-primary: rgb(18, 25, 40);
  --btn-hover-bg-secondary: rgb(171, 149, 121);
  --btn-hover-bg-third: rgb(238, 233, 226);

  --btn-hover-color-primary: rgb(255, 255, 255);
  --btn-hover-color-secondary: rgb(255, 255, 255);
  --btn-hover-color-third: rgb(171, 149, 121);

  --btn-hover-border: 1px solid rgb(171, 149, 121);

  --btn-transition: background 0.3s ease, color 0.3s ease;

  --btn-active-bg-primary: rgb(238, 233, 226);
  --btn-active-bg-secondary: rgb(171, 149, 121);
  --btn-active-bg-third: rgb(18, 25, 40);

  --btn-active-color-primary: rgb(171, 149, 121);
  --btn-active-color-secondary: rgb(238, 233, 226);
  --btn-active-color-third: rgb(255, 255, 255);

  --btn-active-border: 1px solid rgb(171, 149, 121);

  --btn-active-transition: background 0.3s ease, color 0.3s ease;

  /* Input -------------------- */
  --input-bg: rgb(238, 233, 226);
  --input-color: rgb(171, 149, 121);
  --input-border: 1px solid rgb(171, 149, 121);
  --input-border-radius: 0.5rem;
  --input-padding: 0.5rem;
  --input-margin: 0.5rem;

  --input-focus-bg: rgb(255, 255, 255);
  --input-focus-color: rgb(171, 149, 121);
  --input-focus-border: 1px solid rgb(171, 149, 121);

  --input-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;

  --input-placeholder-color: rgb(171, 149, 121);

  --input-error-bg: rgb(255, 255, 255);
  --input-error-color: rgb(171, 149, 121);
  --input-error-border: 1px solid rgb(171, 149, 121);

  --input-error-transition: background 0.3s ease, color 0.3s ease,
    border 0.3s ease;

  --input-error-placeholder-color: rgb(171, 149, 121);

  /* Card -------------------- */
  --card-bg: rgb(255, 255, 255);
  --card-color: rgb(171, 149, 121);
  --card-border: 1px solid rgb(171, 149, 121);
  --card-border-radius: 0.5rem;
  --card-padding: 1.5rem;
  --card-margin: 1rem;

  --card-hover-bg: rgb(238, 233, 226);
  --card-hover-color: rgb(171, 149, 121);
  --card-hover-border: 1px solid rgb(171, 149, 121);

  --card-hover-transition: background 0.3s ease, color 0.3s ease,
    border 0.3s ease;

  --card-active-bg: rgb(238, 233, 226);
  --card-active-color: rgb(171, 149, 121);
  --card-active-border: 1px solid rgb(171, 149, 121);

  --card-active-transition: background 0.3s ease, color 0.3s ease,
    border 0.3s ease;

  --card-shadow: 0 0 1em rgba(0, 0, 0, 0.1);

  --card-title-color: rgb(18, 25, 40);
  --card-title-font-size: 1.5rem;
  --card-title-font-weight: 900;

  --card-text-color: rgb(18, 25, 40);
  --card-text-font-size: 1rem;
  --card-text-font-weight: 400;

  --card-link-color: rgb(171, 149, 121);
  --card-link-text-decoration: none;
  --card-link-font-size: 1rem;
  --card-link-font-weight: 700;

  --card-link-hover-color: rgb(238, 233, 226);
  --card-link-hover-text-decoration: underline;

  --card-link-transition: color 0.3s ease, text-decoration 0.3s ease;

  --card-link-active-color: rgb(171, 149, 121);
  --card-link-active-text-decoration: underline;

  --card-link-active-transition: color 0.3s ease, text-decoration 0.3s ease;

  --card-link-visited-color: rgb(171, 149, 121);
  --card-link-visited-text-decoration: underline;

  --card-link-visited-transition: color 0.3s ease, text-decoration 0.3s ease;

  --card-link-focus-color: rgb(171, 149, 121);
  --card-link-focus-text-decoration: underline;

  --card-link-focus-transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Classes */
a {
  color: var(--bg-fourth);
}

.primary-bg {
  height: 3rem;
  background: var(--bg-primary);
  color: var(--color-text-primary);
}

.secondary-bg {
  height: 3rem;
  background: var(--bg-secondary);
}

.third-bg {
  height: 3rem;
  background: var(--bg-tertiary);
}

.fourth-bg {
  height: 3rem;
  background: var(--bg-fourth);
}

.fifth-bg {
  height: 3rem;
  background: var(--bg-fifth);
  color: var(--color-text-primary);
}

.sixth-bg {
  height: 3rem;
  background: var(--sixth-bg);
}

/* ___________________________ */
#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 0;
  /* background: var(--bg-primary); */
  /* background: var(--bg-test); */
  background: var(--bg-sixth);
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 3rem;
}

.pages-container {
  flex: 1;
}

/* Footer ----------------------------*/

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-eight);
  color: white;
  padding: 1rem;
  text-align: center;
}

.footer {
  margin: 0;
}

.linkedin-icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--color-text-third);
  padding: 10px;
  border-radius: 50%;
  margin-top: 0.5rem;
}

.linkedin-icon-container img {
  display: block;
  width: 24px;
  height: 24px;
}

/* ---------------------------- */

.pages-container {
  /* display: flex; */
  flex: 1;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
