.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #333; */
  background: var(--bg-primary);
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 3rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  max-height: 2rem;
  margin-right: 0.5rem;
}

.navbar-logo a {
  color: var(--color-text-primary);

  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 900;
  margin-left: 0.5rem;
  padding: 0.2rem;
  
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-family: var(--system-font);
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  transition: background 0.3s ease;
}

.navbar-links li a:hover {
  background: #555;
  border-radius: 4px;
}

.active-link {
  background: #555;
  color: white;
  border-radius: 4px;
  padding: 0.5rem;
}

.inactive-link {
  color: #fff;
  padding: 0.5rem;
  transition: background 0.3s ease;
}

.inactive-link:hover {
  background: #555;
  border-radius: 4px;
}

.signout-button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  /* padding: 0.5rem 1rem; */
  padding: 0.2rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-family: var(--system-font);
}

.signout-button:hover {
  background: #fff;
  color: #333;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 0.25rem;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: var(--bg-secondary);
  border-radius: 3px;
  transition: all 0.3s ease;
}

.line-active:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.line-active:nth-child(2) {
  opacity: 0;
}

.line-active:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* Mobile view */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    background: #333;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-logo {
    margin: auto;
  }

  .hamburger {
    display: flex;
  }
}
